@(item: models.MenuCategory, sidebar: Html, breadcrumb: Html)(implicit common: Common)

@import play.api.libs.json._

@main("Bazzar Store - Item Detail", sidebar, breadcrumb) {

    <div class="row">
        <div class="col-md-4">@item.attribute.getOrElse("")</div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-5">Model #</div>
            </div>
            <div class="row">
                <div class="col-md-5">Manufacturer #</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <img class="item-main" src="@routes.Assets.at("images/item/item-main.png")" alt="main item picture"></img>
        </div>
    </div>
    <div class="row thumbnail-row">
        <div class="col-md-1">
            <img src="@routes.Assets.at("images/item/item-small.png")" alt="small item picture"></img>
        </div>
        <div class="col-md-1">
            <img src="@routes.Assets.at("images/item/item-small.png")" alt="small item picture"></img>
        </div>
        <div class="col-md-1">
            <img src="@routes.Assets.at("images/item/item-small.png")" alt="small item picture"></img>
        </div>
        <div class="col-md-1">
            <img src="@routes.Assets.at("images/item/item-small.png")" alt="small item picture"></img>
        </div>
        <div class="col-md-1">
            <img src="@routes.Assets.at("images/item/item-small.png")" alt="small item picture"></img>
        </div>
        <div class="col-md-1">
            <img src="@routes.Assets.at("images/item/item-small.png")" alt="small item picture"></img>
        </div>
        <div class="col-md-1">
            <img src="@routes.Assets.at("images/item/item-small.png")" alt="small item picture"></img>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <a class="btn btn-default btn-primary" href='@routes.CartController.detail(item.id.getOrElse(0))'>Add to cart</a>
        </div>
    </div>

}
