@(cart: models.Cart, quantityForm: Form[Cart])(implicit common: Common)

@import play.api.libs.json._
@import helper.twitterBootstrap._

@main("Bazzar Store - Cart Detail") {

    @if(!cart.details.isEmpty) {
        <div class="row">
            <div class="col-md-1 col-md-offset-7">Quantity</div>
        </div>
        @helper.form(action = routes.CartController.updateQuantity) {

            @for((detail, i) <- (cart.details.get.zipWithIndex)) {
                <div class="row">
                    <div class="col-md-7">
                        <a href='@routes.Items.detail(detail.itemId.getOrElse(0))'>@(detail.subject.getOrElse(""))</a>
                    </div>
                    <div class="col-md-1">
                        <input type="hidden" value='@quantityForm("details[" + i + "].id").value' id='@("details[" + i + "].id")' name='@("details[" + i + "].id")' />
                        @helper.inputText(quantityForm("details[" + i + "].qty"), '_label -> "", 'id -> ("details[" + i + "].qty"), 'class -> "input-small-cart-qty", 'maxlength -> 3)
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-default btn-primary" href='@routes.CartController.delete(cart.id.get, detail.id.get)'>Delete</a>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-2 col-md-offset-7">
                    <input type="submit" value="Update Quantity" class="btn btn-default btn-primary">
                </div>
                <div class="col-md-1">
                    <a class="btn btn-default btn-primary" href='@routes.OrderController.createOrUpdate(cart.sessionNumber.get)'>Checkout</a>
                </div>
            </div>
        }
    }

}
