@(cart: play.api.libs.json.JsValue, quantityForm: Form[CartData])(implicit common: Common)

@import play.api.libs.json._
@import helper.twitterBootstrap._

@main("Bazzar Store - Cart Detail") {

    <ul class="nav nav-list">
        @if(!(cart \ "detail").asOpt[Seq[JsValue]].isEmpty) {
            <li>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span1 offset8">Quantity</div>
                    </div>
                </div>
            </li>
            @helper.form(action = routes.Cart.updateQuantity) {

                @for((detail, i) <- ((cart \ "detail").as[List[JsValue]]).zipWithIndex) {
                    <li class="divider"></li>
                    <li>
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="span8">
                                    <a href='@routes.Items.detail((detail \ "itemId").as[Long])'>@((detail \ "subject").as[String])</a>
                                </div>
                                <div class="span2">
                                    <input type="hidden" value='@quantityForm("details[" + i + "].id").value' id='@("details[" + i + "].id")' name='@("details[" + i + "].id")' />
                                    @helper.inputText(quantityForm("details[" + i + "].quantity"), '_label -> "", 'id -> ("details[" + i + "].quantity"), 'class -> "input-small-cart-qty", 'maxlength -> 3)
                                </div>
                                <div class="span2">
                                    <a class="btn btn-primary" href='@routes.Cart.delete((cart \ "id").as[Long], (detail \ "id").as[Long])'>Delete</a>
                                </div>
                            </div>
                        </div>
                    </li>
                }

                <li class="divider"></li>
                <li>
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span3 offset7">
                                <input type="submit" value="Update Quantity" class="btn primary">
                            </div>
                            <div class="span1">
                                <a class="btn btn-primary" href='@routes.Order.createOrUpdate((cart \ "sessionNumber").as[String])'>Checkout</a>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>

}
