@(product: play.api.libs.json.JsValue)(implicit common: Common)

@import play.api.libs.json._

@main("Bazzar Store - Item Detail") {

    <ul class="nav nav-list">
        @for(item <- (product \ "item").as[List[JsValue]]) {
            <li class="divider"></li>
            <li>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span9">
                            <a href='@routes.Items.detail((item \ "id").as[Long])'>@((item \ "subject").as[String])</a>
                        </div>
                        <div class="span3">
                            <a class="btn btn-primary" href='@routes.Cart.detail((item \ "id").as[Long])'>Add to cart</a>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>

}
