@(product: models.MenuCategory, sidebar: Html, breadcrumb: Html)(implicit common: Common)

@import play.api.libs.json._

@main("Bazzar Store - Item Detail", sidebar, breadcrumb) {

    @for(item <- product.children.get) {
        <div class="row">
            <div class="col-md-5">
                <a href='@routes.Items.detail(item.id.getOrElse(0))'>@item.attribute.getOrElse("")</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-default btn-primary" href='@routes.CartController.detail(item.id.getOrElse(0))'>Add to cart</a>
            </div>
        </div>
    }

}
