@(implicit common: Common)

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10 offset2 footer">
            <!-- ul class="nav nav-pills">
                <li><a href="@routes.Application.index">About Us</a></li>
                <li><a href="@routes.Application.index">Contact Us</a></li>
                <li><a href="@routes.Application.index">Order Status</a></li>
                <li><a href="@routes.Application.index">Frequently Asked Questions</a></li>
                <li><a href="@routes.Application.index">Return Policy</a></li>
                <li><a href="@routes.Application.index">Privacy Policy</a></li>
            </ul -->
            <div class="row-fluid">
                <div class="span2">
                    <p>About Us</p>
                </div>
                <div class="span2">
                    <p>My Account</p>
                </div>
                <div class="span2">
                    <p>Info &amp; Polices</p>
                </div>
                <div class="span2">
                    <p>Shop Easy</p>
                </div>
                <div class="span2">
                    <p>Assistance</p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <a href="">About Us</a>
                </div>
                <div class="span2">
                    <a href="">SignIn/Register</a>
                </div>
                <div class="span2">
                    <a href="">Shipping Policy</a>
                </div>
                <div class="span2">
                    <a href="">Shop By Brand</a>
                </div>
                <div class="span2">
                    <a href="">Q&amp;A</a>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <a href="">Contact Us</a>
                </div>
                <div class="span2">
                    <a href="">Track My Order</a>
                </div>
                <div class="span2">
                    <a href="">Return Policy</a>
                </div>
                <div class="span2">
                    <a href="">Shop By Category</a>
                </div>
                <div class="span2">
                    <a href="">Help</a>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <a href="">Partner With Us</a>
                </div>
                <div class="span2">
                    <a href="">Email Preference</a>
                </div>
                <div class="span2">
                    <a href="">Privacy Policy</a>
                </div>
                <div class="span2">
                    <a href="">Weekly Specials</a>
                </div>
                <div class="span2">
                    <a href="">Return Center</a>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <a href="">Employment</a>
                </div>
                <div class="span2">
                    <a href="">Address Book</a>
                </div>
                <div class="span2">
                    <a href="">Price Matching</a>
                </div>
                <div class="span2">
                    <a href="">Registery + Lists</a>
                </div>
                <div class="span2">
                    <a href="">Terms Of Use</a>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2 offset2">
                    <a href="">Order History</a>
                </div>
                <div class="span2">
                    <a href="">Secure Shopping</a>
                </div>
                <div class="span2 offset2">
                    <a href="">Site Map</a>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2 offset2">
                    <a href="">Account Settings</a>
                </div>
                <div class="span6">
                    <a href="">Our Guarantee</a>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span8 offset2">
                    <a href="">My Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
