@(implicit common: Common)

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills">
                <li><a href="@routes.Application.index">About Us</a></li>
                <li><a href="@routes.Application.index">Contact Us</a></li>
                <li><a href="@routes.Application.index">Order Status</a></li>
                <li><a href="@routes.Application.index">Frequently Asked Questions</a></li>
                <li><a href="@routes.Application.index">Return Policy</a></li>
                <li><a href="@routes.Application.index">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</div>
