@(implicit common: Common)

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            <ul class="nav nav-pills">
                <li><a href="@routes.Application.index">Home</a></li>
            </ul>
        </div>
        <div class="span4">
            <ul class="nav nav-pills">
                <li><a href="@routes.Application.index">Log in or Register</a></li>
                <li><a href="@routes.CartController.index">Cart</a></li>
                <li><a href="@routes.ProductUpload.index">Upload</a></li>
            </ul>
        </div>
    </div>
</div>
