@(implicit common: Common)

<div class="container-fluid">
    <div class="row-fluid span12-row-header">
        <div class="span9">
			<div id="logo">
				<a href="@routes.Application.index"><img src="@routes.Assets.at("images/header/logo.png")" alt="logo" /></a>
			</div>
        </div>
        <div class="span3">
            <ul class="nav nav-pills">
                <li><a href="@routes.Application.index">Log in or Register</a></li>
                <li><a href="@routes.CartController.index">Cart</a></li>
                <li><a href="@routes.ProductUpload.index">Upload</a></li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8">
			<div>
			</div>
        </div>
        <div class="span4">
            <div class="container-fluid search-box-container">
                <div class="row-fluid">
                    <div class="span7">
                        <div>
                            <input id="u2432" type="text" value="Search by keyword or item #" class="u2432 u2432_text_sketch">
                        </div>
                    </div>
                    <div class="span5">
                        <div>
                            <a class="search-btn" href="@routes.Application.index">Go</a>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div>
                            <p style="text-align:left;"><span style="font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333366;">Fast &amp; Free Shipping</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">&nbsp;</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333366;">on thousands of Items</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">. </span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:underline;color:#333366;">Learn More</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333366;">...</span></p>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <div>
                            <div id="u2449" class="u2449">
                                <div id="u2449_rtf"><p style="text-align:left;"><span style="font-family:Arial;font-size:12px;font-weight:bold;font-style:normal;text-decoration:none;color:#333366;">Shop By Brand</span></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div>
                            <div id="u2450" class="u2450">
                                <div id="u2450_rtf"><p style="text-align:left;"><span style="font-family:Arial;font-size:12px;font-weight:bold;font-style:normal;text-decoration:none;color:#333366;">Shop By Category</span></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div>
                            <div id="u2451" class="u2451">
                                <div id="u2451_rtf"><p style="text-align:left;"><span style="font-family:Arial;font-size:12px;font-weight:bold;font-style:normal;text-decoration:none;color:#333366;">Weekly Specials</span></p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
