@(implicit common: Common)

<div class="row col-md-12-row-header">
    <div class="col-md-9">
        <div id="logo">
            <a href="@routes.Application.index"><img src="@routes.Assets.at("images/header/logo.png")" alt="logo" /></a>
        </div>
    </div>
    <div class="col-md-3 alignheader">
        <ul class="nav nav-pills">
            <li><a href="@routes.Application.index">Log in or Register</a></li>
            <li><a href="@routes.CartController.index">Cart</a></li>
            <li><a href="@routes.ProductUpload.index">Upload</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-8">
        <div class="row search-box-container">
            <div class="col-md-12">
                <input type="text" size="40" value="Search by keyword or item #">
                <a class="search-btn" href="@routes.Application.index">Go</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span style="font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333366;">Fast &amp; Free Shipping</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">&nbsp;</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333366;">on thousands of Items</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">. </span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:underline;color:#333366;">Learn More</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333366;">...</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 headerlinks">
                <a href="">Shop By Brand </a>           
                <a href="">Shop By Category</a>
                <a href="">Weekly Specials</a>
            </div>
        </div>
    </div>
</div>
