@(implicit common: Common)

@import play.api.libs.json._

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills">
                @for(cat1 <- ((common.header.menu).as[JsValue]).as[List[JsValue]]) {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href='@routes.Categories.detail((cat1 \ "id").as[Long])'>@((cat1 \ "attribute").as[String])<b class="caret bottom-up"></b></a>
                        <ul class="dropdown-menu">
                            @for(cat2 <- (cat1.as[JsValue] \ "subCategory").as[List[JsValue]]) {
                                <li class="cat-header"><a href='@routes.SubCategories.detail((cat2 \ "id").as[Long])' class="bold">@((cat2 \ "attribute").as[String])</a></li>
                                <li class="divider"></li>
                                @for(cat3 <- (cat2.as[JsValue] \ "product").as[List[JsValue]]) {
                                    <li class="category-child"><a href='@routes.Products.detail((cat3 \ "id").as[Long])' class="gray">@((cat3 \ "attribute").as[String])</a></li>
                                }
                                <li class="spacer"></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<!-- div class="container">
    <div class="row">
        <div class="span6">
            <ul class="nav nav-pills">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li class="dropdown"><a class="dropdown-toggle"
                    data-toggle="dropdown" href="#">FrontEnd<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Twitter Bootstrap</a></li>
                        <li><a href="#">Google Plus API</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Examples</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle"
                    data-toggle="dropdown" href="#">BackEnd<b
                        class="caret bottom-up"></b></a>
                    <ul class="dropdown-menu bottom-up pull-right">
                        <li><a href="#">PHP</a></li>
                        <li><a href="#">MySQL</a></li>
                        <li><a href="#">PostgreSQL</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Live Demos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div -->
